#friend-list-container {
    background-color: #041E3D;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friend-list{
    position: relative;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.friends-user-name{
    font-size: 0.8em;
}

.friends-song-info{
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 16em;
}