#controlButtons li{
	border-radius: 50%;
	list-style: none;
	height: 50px;
	width: 50px;
	display: inline;
}
#modeButtons li{
	border-radius: 50%;
	list-style: none;
	height: 50px;
	width: 50px;
	display: inline;
}
#modeButtons{
	position: fixed;
	top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.controlBar{
	background-color: darkgray;
}

.avatar {
	float: right;
}
.tabs {
	position: absolute;
	bottom: 4.5em;
	left: 0;
	right: 0;
	width: auto;
	margin: auto;
	background-color: white;

}
