#controlButtons li {
    border-radius: 50%;
    list-style: none;
    height: 50px;
    width: 50px;
    display: inline;
}

#modeButtons li {
    border-radius: 50%;
    list-style: none;
    height: 50px;
    width: 50px;
    display: inline;
}

#modeButtons {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.controlBar {
    background-color: #0c1929;
}

.avatar-float {
    float: right;
    border-radius: 50%;
    border: darkgray solid 0.2em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.25),
    0 0.5em 0.5em rgba(0, 0, 0, 0.25);
    margin: 1em;
    width: 10em;
    height: 10em;
}

.tabs {
    position: absolute;
    bottom: 4.5em;
    left: 0;
    right: 0;
    width: auto;
    margin: auto;
    background-color: #041E3D;

}
