body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: bold;
    margin: 0;
}

a {
    color: #282c34;
    font-size: 0.8em;
    margin: 1em 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    height: 100%;
    text-align: center;
}

.container {
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.25),
    0 0.5em 0.5em rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
    width: 50em;
    max-width: 100%;
    min-height: 30em;
}

.sign-in-container {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 50%;
    border-right: darkgray dotted;
}

.sign-up-container {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 50%;
}
