.lyrics {
  color: white;
  font-size: xx-large;
  font-size: 1.2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: fixed;
  top: 0%;
  left: 12%;
  z-index: -1;
  line-height: 4.5em;
  text-align: left;
}
.lyric:nth-child(1) {
  opacity: 25%;
}
.lyric:nth-child(2) {
  opacity: 50%;
}

.lyric:nth-child(4) {
  opacity: 50%;
}

.lyric:nth-child(5) {
  opacity: 25%;
}
