.search-bar{
    width: 300px;
    left: 45%;
    transform: translate(-65%);   
    position: fixed;
    align-self:  center;
}

.header{
    margin-top: 10px;
}

.return-button{
    left: 30%;
    transform: translate(-70%); 
    position: fixed;
}


