#play-list-container {
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-list{
    position: relative;
    overflow-y: auto;
    height: 100%;
    max-height: 35em;
    width: 100%;
    padding-top: 0em;
}

#playlist-search-div {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
}

#playlist-search-autocomplete {
    width: 14em;
}

