#play-list-container {
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-list{
    position: relative;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.playlist-cell-text{
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 16em;
}

#playlist-search-div {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
}

#playlist-search-autocomplete {
    width: 14em;
}
