.music-list{
    max-width: 60em; 
    margin: auto;
    overflow-y: auto;
    max-height: 33em;
    margin-bottom: 0.5em;
}

.table-head{
    position: sticky;
    top: 0;
    background-color: #041E3D;
    z-index: 100;
}
