.user-list{
    max-width: 50em;  
    margin: auto;
    overflow-y: auto;
    max-height: 30em;
    margin-bottom: 0.5em;
}

.table-head{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

  