.controlButtons {
	margin-right: 50px;
	margin-bottom: 100px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 50%;
	display: inline-block;
	list-style: none;
}
.loopButton {
	margin-left: 20px;
	padding: 10px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/loopButton.jpg');
	background-size: 100px, 100px;
}

.decreaseVolButton {
	margin-left: 20px;
	padding: 10px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/decreaseVolButton.jpg');
	background-size: 100px, 100px;
}

.goBackwardButton {
	margin-left: 20px;
	padding: 10px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/goBackwardButton.jpg');
	background-size: 100px, 100px;
}

.playButton {
	margin-left: 20px;
	padding: 10px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/playButton.jpg');
	background-size: 100px, 100px;
}

.stopButton {
	margin-left: 20px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/stopButton.jpg');
	background-size: 100px, 100px;
}

.increaseVolButton {
	margin-left: 20px;
	padding: 10px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/increaseVolButton.jpg');
	background-size: 100px, 100px;
}

.goForwardButton {
	margin-left: 20px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/goForwardButton.jpg');
	background-size: 100px, 100px;
}

.muteButton {
	margin-left: 20px;
	height: 100px;
	width: 100px;
	background-image: url('./Images/muteButton.jpg');
	background-size: 100px, 100px;
}